@charset "utf-8";
#words_catch{
	color: #161616;
	text-shadow: 0px 0px 5px #ffffff,0px 0px 20px #ffffff,0px 0px 50px #ffffff;
	font-family: 'copperplate','Noto Sans Japanese', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}
h1,h2,h3,h4,h5,
.tile_label,
.font_cp,
#menu-headernav li *{
	font-family: 'copperplate','Noto Sans Japanese', sans-serif;
	text-transform: uppercase;
}
.fblock_wide{
	background-color: #882200;
}
.fblock h4{
	margin: 1rem auto;
}
.fblock div ul li{
	line-height: 2rem;
}
ul#menu-headernav li a:hover{
	background-color: #ff6699;
	color: white;
}
.mmboard {
	list-style-type: none;
	width: 100%;
	height: auto;
	background-color: #eee;
	background-image: none;
	background-size: 300px; 
	color: #222;
	font-family: tanukimagic;
}
@media screen and (min-width:640px) {
    .btn{
        width: calc(100% - 15px);
    }
}