@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/** global elements **/

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Noto Sans Japanese', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	font-family: "Noto Sans Japanese", sans-serif;
}

html {
	font-size: 12px;
}

body {
	background-color: #eee;
}

hr {
	margin: 30px 0;
}

h1 {
	font-size: 3rem;
	line-height: 4rem;
}

h2 {
	font-size: 2.4rem;
	line-height: 3rem;
}

h3 {
	font-size: 1.6rem;
	line-height: 1.6rem;
	margin-bottom: 0.4rem;
}

h3 span.small {
	font-size: 0.8rem;
	line-height: 0.8rem;
	font-weight: 300;
}

h4 {
	font-size: 1.1rem;
	line-height: 1.1rem;
	margin-bottom: 0.1rem;
}

h4 span.small {
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1rem;
}

a {
	color: #449;
}

p {
	margin: 1rem auto;
}

strong {
	font-size: 1.2rem;
	color: darkblue;
}

h1,h2,h3,h4,h5,
.tile_label,
.font_cp,
#menu-headernav li *{
	font-family: 'copperplate','Noto Sans Japanese', sans-serif;
	text-transform: uppercase;
}

#view {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

#scroll_page_top {
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	line-height: 45px;
	padding: 0;
	background-color: rgba( 0, 0, 0, 0.5);
	color: white;
	text-align: center;
	font-size: 40px;
	z-index: 10;
	cursor: pointer;
	transition-duration: 800;
}

#pgs_header {
	position: relative;
	margin: 0;
	height: auto;
	width: 100%;
	overflow: hidden;
}

#crown_nav {	
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	text-align: center;
	z-index: 2;
}

.cnav_caption_group,
.cnav_item_group {
	list-style-type: none;
	padding: 0;
	width: auto;
	margin: auto;
}

.cnav_caption_group {
	position: relative;
	list-style-type: none;
	margin: 0;
	width: 100%;
	height: 12px;
	line-height: 12px;
	z-index: 2;
}

.cnav_caption {
	font-size: 12px;
	color: #555;
	text-align: center;
	transition-delay: 0.2s;
	transition-duration: 0.3s;
}

.cnav_caption.hidden {
	height: 0;
}

/** .cnav_caption_group **/

.cnav_item_group {
	position: relative;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 300px;
	height: 30px;
	padding: 0;
}
.cnav_item {
	display: block;
	width: 30px;
	height: 30px;
}

.cnav_item a {
	display: block;
	margin: 10px 5px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #aaa;
	color: white;
	font-size: 12px;
	text-align: center;
	transition-duration: 0.2s;
}
.cnav_item a.picup,
.cnav_item a:hover {
	margin: 0;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	font-size: 18px;
	transition-delay: 0.2s;
	transition-duration: 0.3s;
}

.cnav_item a.blue {
	background-color: #79e;
}

.cnav_item a.green {
	background-color: #9c9;
}

.cnav_item a.orange {
	background-color: #ea6;
}

.cnav_item a.red {
	background-color: #c99;
}



/** .cnav_item_group **/


/** #crown_nav **/

#pgs_header_namearea {}

#pgs_header_logo,
#pgs_header_sitename {
	width: 100%;
	text-align: center;
}

#pgs_header_logo {
	float: left;
	padding: 0;
	height: 50px;
}
#pgs_header_logo img {
	width: auto;
	height: 100%;
}
#pgs_logoimage {
	width: auto;
	height: 50px;
}
.custom-logo-link {}

.custom-logo {}


#pgs_header_sitename {
	float: left;
	color: #444;
	font-size: 0.8rem;
	font-weight: 400;
}


#pgs_header_sitename {}


/** #pgs_header_namearea **/

.header_spacer {
	border: none;
	margin: 0;
	width: 100%;
	height: 10px;
}


/** #pgs_header **/

#container {}

.guide_item_group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	list-style-type: none;
	padding: 0;
}

.guide_item {
	width: 300px;
	margin-bottom: 40px;
	text-align: center;
	border-radius: 10px;
	font-weight: 600;
	color: #444;
}
.guide_item.home .btn{background-color: #224;}
.guide_item.red .btn{background-color: #c99;}
.guide_item.blue .btn{background-color: #79e;}
.guide_item.green .btn{background-color: #9c9;}
.guide_item.orange .btn{background-color: #ea6;}
.guide_item span{
	margin-bottom: 1rem;
}

/** #container **/


#footer {}

#footer ul li {
	margin-bottom: 1rem;
}

#footer_blocks {
	list-style-type: none;
	padding-bottom: 20px;
}

.fblock_wide {
	width: 100%;
	text-align: center;
	overflow: hidden;
	background-color: #882200;
	color: white;
	font-size: 0.8rem;
}

.footer_end {}


.fblock_wide{
	background-color: #882200;
}
.fblock h4{
	margin: 1rem auto;
}
.fblock div ul li{
	line-height: 2rem;
}

ul#menu-headernav li a:hover{
	background-color: #ff6699;
	color: white;
}

/** #footer **/



/** and Others **/

.btn {
	display: block;
	margin: auto;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	font-size: 30px;
	background-color: #aaa;
	color: white;
	border-radius: 40px;
}

span.small {
	display: inline-block;
	font-size: 0.8rem;
}

hr.acl_spacer {
	border: none;
	width: 100%;
}

.font_cp {}

.hidden {
	visibility: hidden;
}